body{
    font-family: 'Open Sans', sans-serif;
}

.from-container-in{
    width: 8.5in;
    height: 11.5in;
    box-shadow: -9px 11px 16px 0px rgba(0,0,0,0.57);
-webkit-box-shadow: -9px 11px 16px 0px rgba(0,0,0,0.57);
-moz-box-shadow: -9px 11px 16px 0px rgba(0,0,0,0.57);
   margin: 2rem auto;
   padding: 1rem 2rem;
}

.name-store{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.name-store-3{
    grid-template-columns: 1fr 1fr 1fr;
}
.city-postal{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 1rem;
}
.industrial-residential{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.industrial{
    border-right: 1px solid #000;
}
p{
    margin: .2rem 0;
}
.animal-removal{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 2rem;
}
.animal-removal > h4{
    margin:0 0 .2rem 0;
}

.residential{
    padding-left: 2rem;
}

.main-height{
    height: 80% !important;
}

.form-group{
    color: #212529;
    clear: both;
}
.form-group label{
    float: left;
    width: 30%;
}
.form-group input{
    display: block;
    height: 29px;
    width: 64%;
    padding: 0 .5rem;
    box-sizing: border-box;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out

}
textarea{
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    

}
textarea:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.form-group input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.header-log{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1rem;
}
.left-logo > img{
    width: 70%;
}
.right-logo{
    position: relative;
}
.right-logo > img{
    width: 19%;
    left: 45px;
    position: absolute;
    top: 19px;
}
.right-logo h2{
    font-size: 29px;
    letter-spacing: .1rem;
    position: absolute;
    bottom: -3px;
}

/* step form design */
.step-form-holder{
    width: 50%;
    min-height: 65vh;
    box-shadow: -9px 11px 16px 0px rgb(0 0 0 / 57%);
    -webkit-box-shadow: -9px 11px 16px 0px rgb(0 0 0 / 57%);
    -moz-box-shadow: -9px 11px 16px 0px rgba(0,0,0,0.57);
    margin: 2rem auto;
    padding:2rem;
}
.input-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
}
.input-wrapper-3{
    grid-template-columns: 2fr 1fr 1fr;
}